@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(251, 239, 229);
}

.main {
  width: 480px;
  height: 600px;
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > img {
  width: 200px;
  padding: 10px;
}

.section {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.section input {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
}

.tf {
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 350px;
  text-align: center;
  margin-bottom: 20px;
}

.btn input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(255, 155, 47), rgb(255, 236, 216));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.btn .inputDisabled {
  background-color: grey;
}

.signup {
  width: 400px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.signup .signupbtn {
  padding-left: 10px;
  color: rgb(255, 155, 47);
}
